:root {
    --transparentGray: rgba(255, 255, 255, 0.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('/assets/images/forrest.jpg');
    background-size: cover;
    transition: transform 0.1s ease;
}
.game-container {
    display: flex;
    /* TODO uncomment */
    /* transform: translateY(100%); */
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background-image: url('/assets/images/lake.jpg');
    background-size: cover;
    transition: transform 0.1s ease;
}

.game {
    height: 100%;
    width: 100%;
    cursor: crosshair;
}
.game img {
    position: absolute;
    top: 50px;
    width: 64px;
}

.hud {
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.game-data {
    color: rgb(0, 156, 156);
    background-color: var(--transparentGray);
    padding: 10px 20px;
    border-radius: 16px;
}

.welcome {
    margin: 50px;
    padding: 32px 64px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome h1 {
    margin-bottom: 20px;
}

.welcome img {
    display: inline;
}

.enter-name input {
    margin-bottom: 20px;
    background-color: var(--transparentGray);
    border: 1px solid gray;
    padding: 10px 30px;
    border-radius: 16px;
}

.enter-name button {
    background-color: var(--transparentGray);
    padding: 0px 32px;
    border-radius: 16px;
    font-size: 1.5em;
    color: green;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    cursor: pointer;
}
.enter-name button:hover {
    transform: scale(1.1);
}

.points {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.76);
}

.green {
    color: green;
}

.brown {
    color: rgb(158, 78, 41);
}

.red {
    color: red;
}

.bird {
    transition: left 0.1s ease;
}

.bird-points img {
    width: 64px;
}

.bird-points {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bomb {
    position: relative;
    width: 128px;
    height: 128px;
    transition: top 0.2s ease;
}

.bomb img {
    position: absolute;
}

.bomb .explosion-img {
    display: none;
}

table,
td {
    border: 1px solid black;
}

table {
    width: 80%;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
